*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body
{
   /* background:linear-gradient(to top right,skyblue,violet);*/
    min-height:100%;
    min-width:100%;
   /* padding-bottom:100px; */
    box-shadow:0 1px 5px grey;
}

/*
#turn
{
    display:none;
    width:100%;
    height:100%;
    z-index:99;
    color:red;
    text-align:center;
    vertical-align:center;
    background-color:white;
    position:fixed;
    left:0;
    top:0;
}

@media (orientation : landscape)
{
    #turn{display:block ;}
}*/

#header
{
    
    display:block;
    background:linear-gradient(to bottom right,skyblue,violet);
    padding:8px;
    background:#F8F8FF;
  /*  height:150px; */
}

#header h5
{
    font-family:'old standard tt', Blippo, fantasy;
    color:#8A9A5B;
    position:relative;
    font-size:28px;    
    
}

#header p
{
    color:grey;
    font-family:vollkorn, Blippo, fantasy;
}
/*
#header h5::before
{
    content:"tyh";
    background-image:url("https://drive.google.com/uc?export=view&id=1DuIP2hKwUmQeO32QkheLxttLyWkbL9f_");
    background-size:80px 80px;
    position:absolute ;
    left:-35px;
    z-index:99999999;
}

*/
#nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

#nav a
{
    padding:10px;
    margin:3px;
    text-decoration:none;
    color:grey;
    cursor:pointer;
    border-radius:4px;
    font-family: spectral,'Times New Roman',Times, serif;
    font-size:17px;
}

#menu a{
    text-decoration:none;
    color:grey;
    font-weight:500;
    font-family: vollkorn, Blippo, serif;
    font-size:18px;
    padding:10px;
    margin:10px;
    border-radius:5px;
    position:relative;
    display:block;
}

#nav a:hover
{
    color:violet;
    background:rgba(125,155,157,0.5);
    text-shadow:1px 1px 5px grey;
}

.drop-icon:hover a, #menu a:hover
{
    background:rgba(125,155,157,0.5);
    color:#ff8000;
}
#menu
{
    position:fixed;
    width:100%;
   /* left:0;
    top:100px; */
    padding-bottom:150px;
    background:#fffeea;
    display:none;
    z-index:99999;
    overflow:scroll;
}


#ham-X
{
    width:30px;
    height:30px;
    border:1px Solid violet;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
    border-radius:2px;
}

#hamburger{
    
    width:80%;
    height:2px;
    border-radius:2px;
    background:grey;
    box-shadow:0 0 2px 1px violet;
    transition:all 0.5s ease-in-out;


}

#hamburger::before, #hamburger::after{
    content:"";
    width:80%;
    height:2px;
    border-radius:2px;
    background:grey;
    position:absolute;
    box-shadow:0 0 2px 1px violet;
    transition:all 0.5s ease-in-out;
}

#hamburger::before{
    transform:translateY(-7px);
}

#hamburger::after{
    transform:translateY(7px);    
}

.open #hamburger::before
{
    transform:rotate(45deg) translate(17px,-17px);
}

.open #hamburger::after
{
    transform:rotate(-45deg) translate(17px,17px);
}

.open #hamburger
{
    background:transparent;
    box-shadow:none;
    margin-left:-50px;
}
#msg
{
    width:20em;
    height:24em;
    left:50%;
    top:50%;
    border-radius:16px;
    background-color:skyblue;
    position: fixed;
    transform:translate(-50%,-50%);
    z-index:99999;
    box-shadow:0 0 17px 1px red;
    overflow:scroll;
    display:none;
}

#msgg
{
    position:relative;
    margin:10px;
    font-family:serif;
}

.sub
{
    display:none;
    background-color:whiteSmoke;
}

#menu .sub a { font-size:16px; }


.drop-icon {  position:relative; }

.drop-icon  svg
{
    position:absolute; 
    top:50%;
    right:10%;
    transform:translateY(-50%);
}
.up { display:none; }
.alter-icon .down{ display:none; }
.alter-icon .up{ display:block; }

/* -------------- header-end ----------- */




/* ------------ Footer ---------------- */

.footer
{
    min-width:100vw;
    min-height:100vh;
    background-color:#fffacd;
    position:relative;
}

#icons
{
    display:flex;
    justify-content:space-around;
    align-items:center;
    max-width:550px;
    position:relative;
    left:50%;
    transform:translateX(-50%);

}


#newsletter-form button
{
    border:none;
    padding:8px;
    background:red;
    border-radius:0 5px 5px 0;
    border:2px solid grey;
    font-family: vollkorn,Times, serif;
    position:relative;
}

#newsletter-form button:hover
{
    background:grey;
    box-shadow:0 0 4px 1px violet;
}

#newsletter-form input
{
    padding:8px;
    margin-top:16px;
    border:2px solid grey;
    border-radius:5px 0 0 5px;
    outline:none;
    font-family:spectral, Monaco, sans-serif;
    position:relative;

}

#newsletter-form input:hover
{
    border:2px solid violet;
}

#newsletter-form label
{
    color:#d4af37;
    font-weight:500;
    margin-left:8px;
    margin-top:8px;
    font-size:24px;
    display:block;
    font-family: vollkorn, Florence, cursive;
    position:relative;
}

#contact
{
    padding:16px;
    font-family:nunito, "Courier New", Courier, monospace;
    background-color: #5B6467;
    background-color:#7285a5;

}

#contact h5{font-family:vollkorn, Blippo, fantasy;
}

#contact h2
{
    font-family:'old standard tt',Blippo, fantasy;
    color:#fffff0;
}

#email-ctr
{
    display:flex;
    justify-content:center;
}

#cprt
{
    font-family:'old standard tt', Times, serif;
    background:#fffacd;
}


#course-stmp,#faculty-stmp
{
    color:#d4af37;
    font-family:serif;
    margin:16px;
}

#stmp a
{
    display:block;
    font-family:'old standard tt', "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
    line-height:32px;
    color:#996515;
}


/* -------------- Footer-end ----------- */








/*
#why-img
{
        background-image:url("https://drive.google.com/uc?export=view&id=1DuIP2hKwUmQeO32QkheLxttLyWkbL9f_");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vw;
}
*/
#par
{
    position:absolute;
    z-index:2;
    margin:16px;
    color:white;
    text-shadow: 1px 1px 3px grey;
    word-spacing:32px;
}


.body .row img
{
    
    max-height:100%;
    width:100%;
}


.add-grey
{
    color:#fffff0;
}

.body .row
{
    width:100vw;
  /*  height:calc(100vh - 100px);*/
    background:#fff5d0;
}

#why-us-crs .para
{
    background:#e1f164;
}

#library .para
{
    background:#addfad;
}

#why-us-fct .para
{
    background:#89CFF0;
}


.body h1
{
    font-family: 'old standard tt', Blippo, fantasy;
    color:grey;
    margin-bottom:16px;
    
}

.body p
{
    font-family: 'Poppins', Georgia,  sans-serif;

}

.link h1
{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    white-space:nowrap;
    backdrop-filter: blur(2px);
    border:2px solid white;
    padding:16px;
    color:grey;
}


.link div
{
    min-height:100px;
    min-width:100px;
}

@media (min-width:630px)
{

    #logo
    {
        display:flex;
        flex-direction:row;
        align-items:bottom;
        padding:16px 8px 16px 8px;
    }
    
    #logo p
    {
        margin:8px 0 0 8px;
    }
}
